*.vdf
*.psd
*.ai

# Support scripts
support-scripts/**/__pycache__
support-scripts/**/input
support-scripts/**/output
support-scripts/c2gmf.py
support-scripts/get_png.py
vic3-tiger
.DS_Store
.DS_Store
error-log.txt
errors.sh
vic3-tiger.conf
better-politics-mod/.DS_Store
